*{padding:0;
margin:0;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
box-sizing:border-box}
.hero{height:100vh;
width:100%;
background-image:url("Images/kelly-sikkema-VX0bsbyBxpM-unsplash.jpg");
background-size:cover;
background-repeat: no-repeat;
background-position:cover;
position:relative;
animation: change 20s infinite ease-in-out;
}
nav{display:flex;
width:84%;
margin:auto;
align-items:center;
padding:20px 0;
justify-content:flex-end;
color:black;
flex-direction:row;
}
.logo{color:#ffff;
font-size:medium;
cursor:all-scroll;
position: absolute;
top: 10px;
left: 15px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: normal;
border:1px dotted orange;}
#gwu{color:orange;
border:1px solid white}
nav ul li{list-style-type:none;
display:inline-block;
margin:10px 50px;
color:orange;
align-items: center;
position:sticky;
}
nav ul li a{color:white;
text-decoration: none;
font-weight:bold;
text-transform:capitalize;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
justify-content:space-between;
}
nav ul li a:hover{
color:orange;
text-decoration:underline;
cursor:pointer;
}
nav ul li a:active{font-size:large;
border:2px solid orange;}
.intro h4{margin-top: 10%;
margin-left: 8%;
font-weight: bolder;
font-family: cursive;
color:white;
font-size: 30px;
align-items:center;
justify-content: space-between;}
#odogwu{color:orange;
outline: color 2px;}
.intro h6{font-size:15px;
color:white;
margin-left:10px;
font-size:60px;
opacity: 0.5;
}
p.desc{
    color:white;
    border:3px solid orange;
    border-top-left-radius: 50px ;
   border-bottom-right-radius: 50px;
   display:inline block;
   visibility: visible;
   padding-left: 100px;
   padding-right:50px;
   justify-content: center;
   width:50%;
   height:40%;
   margin-left:100px;
   margin-top:30px;
   margin-bottom: 30px;
}
.btn{
    border:5px solid orange;
    width:85px;
    height:40px;
    color:black;
    font-weight:bold;
    position:absolute;
    left:55%;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 2px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 64px;
    line-height: inherit;
    user-select: none;
    -webkit-appearance: none;
    overflow: visible;
    vertical-align: middle;
   
}
@keyframes change{50%{
    background-image:url(Images/_DSC5806.jpg)
    }
    100%{
   background-image: url(Images/kelly-sikkema-VX0bsbyBxpM-unsplash.jpg)
}
}
.about{background-color:orange;
    background-size:cover;
width:100%;
height:100vh;}
.about p{text-align: center;
display:flexbox;
vertical-align: middle}